@using System.Net.NetworkInformation
@{
    NetworkInterface[] nics = NetworkInterface.GetAllNetworkInterfaces();
    ViewData["macAdd"] = nics[0].GetPhysicalAddress().ToString();
    ViewBag.Title = "Welcome to Lovely Wannabuy";
}
<!DOCTYPE HTML>
<head>
<title>Lovely Wana Buy</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/slider.css" rel="stylesheet" />
    <link href="~/Content/style_pop.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="~/Scripts/move-top.js"></script>
<script type="text/javascript" src="~/Scripts/easing.js"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr.js"></script>
    <link href="~/Content/style_p.css" rel="stylesheet" />
    @*<link href="~/Content/reset.css" rel="stylesheet" />*@
<script type="text/javascript" src="~/Scripts/startstop-slider.js"></script>
     <script src="~/Scripts/main.js">
  function move_navigation( $navigation, $MQ) {
	if ( $(window).width() >= $MQ ) {
		$navigation.detach();
		$navigation.appendTo('wrap');
	} else {
		$navigation.detach();
		$navigation.insertAfter('container');
	}
}
</script>
    <script src="~/Scripts/jquery-1.11.0.min.js"></script>
    <script src="~/Scripts/leanModal-modified-for-onload.js"></script>
    <script src="~/Scripts/jquery.leanModal.min.js"></script>
    <style>
        /*cart css*/
.active_pro {
background-color:#B81D22;
font-size:20px;
border-bottom:1px solid #B81D22;
color:#FFFFFF;
}


#cd-cart {
	position: fixed;
	top: 0;
	right: -100%;
	height: 100%;
 
	/* header height */
	padding-top: 50px;
 
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
 
	transition: right 0.3s;
 
	&.speed-in
        {
		right: 0;
	}
#cd-cart .cd-item-remove {
  position: absolute;
  right: 1em;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: url("/Images/Awicons-Vista-Artistic-Delete.ico") no-repeat center center;
}

a.menu_links { cursor: pointer; }
</style>
    

<script type="text/javascript">
    var userName = "";
    var totDue = 0;//amount due in cart
    var cartCount = 0;//products in cart
    var cart=new Object();
    var mac;//mac address of the user
    function addToCart(id)//adds element to cart 
    {
        var cartOb = new Object();
        cartOb.id = id;
        $.ajax({
            url: '/api/productDescription',
            dataType: 'json',
            data: cartOb,
            type: 'POST',
            success: function (data) {
                cartCount++;
                totDue = totDue + parseInt(data[0].MRP);
                //document.getElementById("itemCount").innerHTML = cartCount;
                //document.getElementById("totDue").innerHTML = totDue + ".00";
                cartUpdate(id);
                cartMaintain(cartCount, totDue);
                
            },
            error: function (msg) {
                alert(msg.responseText);
            }
        })

        
    }

    function cartUpdate(id)//update cart in database
    {
        var cartOb = new Object;
        cartOb.username = document.getElementById("username").innerHTML;
        cartOb.productId = id;
        cartOb.mac = mac;
        cartOb.cartProds = cartCount;
        cartOb.amtDue = 0;
        
        $.ajax({
            url: '/api/cartMaintainApi',
            dataType: 'json',
            data: cartOb,
            type: 'POST',
            success: function (data)
            {
                sideCart(document.getElementById("username").innerHTML);
            }

        })
       // alert("1");
    }
    function cartMaintain(cartCount, totDue)//update cart in Home controller
    {
        cart.cartProds = cartCount;
        cart.amtDue = 0;
        $.ajax({
            url: '/Home/cartMaintain',
            data: cart,
            dataType: 'JSON',
            type: 'POST'
        })
        sideCart(document.getElementById("username").innerHTML);
    }
    function loaddata()//first function to be called. Sets the cart variables
    {
        getUsername();
        var Cart = new Object;
        latestProds();
        mac = document.getElementById("mac").value;
        Cart.mac = mac;
        $.ajax({
            url: 'Home/macCart',
            data: Cart,
            dataType: 'JSON',
            type: 'POST'

        })
            cartCount = parseInt(document.getElementById("cartProds").value);
            totDue = parseInt(document.getElementById("amtDue").value);
            document.getElementById("itemCount").innerHTML = cartCount;
            document.getElementById("totDue").innerHTML = totDue + ".00";
            
            
            banner();
    }

        var x = 0;
        var page = 0;//page number in lazy loading
        var textOb = new Object();
        textOb.count = 1;
        textOb.pageSize = 4;//number of products to be fetched 
        function latestProds()//sets the latest products tab
        {
            x = 0;
            $.ajax({
                url: 'http://localhost:50171/api/LatestProds',
                data: textOb,
                dataType: 'json',
                type: 'POST',
                success: function (data) {
                    path = data;
                    x = 0;
                    newInput = "<div style='' class='section group'>";
                    document.getElementById("latestProds").innerHTML += newInput;
                    
                    
                        if(x==0){
                            for (var i = 0; i < 4 ; i++) {

                                if (path[i] != null) {

                                    if (path[i].id != "-1") {
                                        newInput = newInput + "<div class='grid_1_of_4 images_1_of_4' ><a onclick='prodDescription(" + path[i].id + ")'><img src='" + path[i].path + "'  height='180px'/></a><h6 style='height:50px; overflow:hidden'>" + path[i].name + " </h6><div class='price-details' style='font-size:small'><div class='price-number' style='align:left'><span style='margin-left:-19%' class='rupees'><small>MRP: ₹ " + path[i].MRP + " </small></span><br><span class='rupees'><small>Our Price: ₹ " + path[i].price + "</span></div><div class='add-cart'><h4><a href='#'  onclick='addToCart(" + path[i].id + ")' style='padding:5px 5px'>Add to Cart</a></h4></div><div class='clear'></div></div></div>";
                                    }
                                    else {
                                        alert(path[i].path);
                                        break;
                                    }
                                }
                                else {
                                    x = 1;
                                    break;
                                }
                            }
                       
                       newInput = newInput + "</div>";
                        document.getElementById("latestProds").innerHTML += newInput;
                      }

                },
                error: function (msg) {
                    alert(msg.responseText);
                }
            });
            featuredProds();
            groups();
        };
        function featuredProds()//sets the latest products tab
        {
            x = 0;
            $.ajax({
                url: '/api/featured',
                data: textOb,
                dataType: 'json',
                type: 'POST',
                success: function (data) {
                    path = data;
                    x = 0;
                    newInput = "<div style='' class='section group'>";
                    document.getElementById("featured").innerHTML += newInput;


                    if (x == 0) {
                        for (var i = 0; i < 4 ; i++) {

                            if (path[i] != null) {

                                if (path[i].id != "-1") {
                                    newInput = newInput + "<div class='grid_1_of_4 images_1_of_4' ><a onclick='prodDescription(" + path[i].id + ")'><img src='" + path[i].path + "'  height='180px'/></a><h6 style='height:50px; overflow:hidden'>" + path[i].name + " </h6><div class='price-details' style='font-size:small'><div class='price-number' style='align:left'><span style='margin-left:-19%' class='rupees'><small>MRP: ₹ " + path[i].MRP + " </small></span><br><span class='rupees'><small>Our Price: ₹ " + path[i].price + "</span></div><div class='add-cart'><h4><a href='#'  onclick='addToCart(" + path[i].id + ")' style='padding:5px 5px'>Add to Cart</a></h4></div><div class='clear'></div></div></div>";
                                }
                                else {
                                    alert(path[i].path);
                                    break;
                                }
                            }
                            else {
                                x = 1;
                                break;
                            }
                        }

                        newInput = newInput + "</div>";
                        document.getElementById("featured").innerHTML += newInput;
                    }

                },
                error: function (msg) {
                    alert(msg.responseText);
                }
            });

        };

        function prodDescription(id)//to go to product description page
        {
            var arg = new Object();
            arg.id = id;
            $.ajax({
                url: 'http://localhost:50171/Home/prodClick',
                data: arg,
                dataType: 'json',
                type: 'POST',
                success: function (msg) { window.location.href = '/Home/productDescription'; },
                error: function (msg) { window.location.href = '/Home/productDescription'; }
            })
        };

        function groupClick(a)//called when the user clicks on a group
        {
            var arg = new Object();
            arg.id = a;
            $.ajax
            ({
                url: '/Home/userGroupClick1',
                data: arg,
                dataType: 'json',
                type: 'POST',
                success: function (msg) { window.location.href = '/Home/groupClick'; },
                error: function (msg) { window.location.href = '/Home/groupClick'; }
            });
        }
        function groups()//sets the groups tab
        {
            $.ajax({
                url: 'http://localhost:50171/api/groups',
                data: textOb,
                dataType: 'json',
                type: 'PUT',
                success: function (data) {
                    path = data;
                    newInput = "<div class='section group'>";
                    document.getElementById("groups").innerHTML += newInput;
                    if (x == 0) {
                        for (var i = 0; i < 4 ; i++) {

                            if (path[i] != null) {

                                if (path[i].id != "-1") {
                                    newInput = newInput + "<div class='grid_1_of_4 images_1_of_4' ><a onclick= groupClick('" + path[i].id + "')><img src='" + path[i].path + "'  /></a><h2>" + path[i].name + "</h2></div>"
                                }
                                else {
                                    alert(path[i].path);
                                    break;
                                }
                            }
                            else {
                                x = 1;
                                break;
                            }
                        }
                        newInput = newInput + "</div>";
                        document.getElementById("groups").innerHTML += newInput;
                    }
                },
                error: function (msg) {
                    alert(msg.responseText);
                }
            });
            categories();
        };

        function categories()//fetch categories 
        {
            newInput1 = "<h3>Categories</h3>";
           
            $.ajax({
                url: '/api/getCategories',
                dataType: 'json',
                type: 'GET',
                success: function (data)
                {
                    for (i = 0; i < data.length ; i++)
                                {
                        newInput1 = newInput1 + "<li><a style='cursor: pointer;' onclick= toDeptPage("+data[i].id+") >" + data[i].name + "</a></li>";
                                   
                                }
                    document.getElementById("category").innerHTML += newInput1;
                },
                error: function (msg)
                {
                        alert(msg.responseText)
                }
            })
            topSelling();
        };

        function topSelling()//sets the tab for top selling products
        {
            $.ajax({
                url: '/api/top_selling',
                data: textOb,
                dataType: 'json',
                type: 'PUT',
                success: function (data) {
                    x = 0;
                    path = data; 
                    newInput = "<div class='section group'>";
                    document.getElementById("top_selling").innerHTML += newInput;
                    if (x == 0) {
                        for (var i = 0; i < 4 ; i++) {
                            
                            if (path[i] != null) {
                                
                                if (path[i].id != "-1") {
                                    
                                    newInput = newInput + "<div class='grid_1_of_4 images_1_of_4' ><a onclick='prodDescription(" + path[i].id + ")'><img src='" + path[i].path + "'  height='180px'/></a><h6 style='height:50px; overflow:hidden'>" + path[i].name + " </h6><div class='price-details'><div class='price-number' style='align:left; font-size:small'><span style='margin-left:-19%' class='rupees'><small>MRP: ₹ " + path[i].MRP + " </small></span><br><span class='rupees'><small>Our Price: ₹ " + path[i].price + "</span></div><div class='add-cart'><h4><a href='#'  style='padding:5px 5px' onclick='addToCart(" + path[i].id + ")'>Add to Cart</a></h4></div><div class='clear'></div></div></div>";
                                }
                                else {
                                    alert(path[i].path);
                                    break;
                                }
                            }
                            else {
                                x = 1;
                                break;
                            }
                        }
                        newInput = newInput + "</div>";
                        document.getElementById("top_selling").innerHTML += newInput;
                    }
                },
                error: function (msg) {
                    alert(msg.responseText);
                }
            });
        }
        function toDeptPage(a)//to go to the department related page when a department is clicked
        {
            textOb.id = a;
            $.ajax({
                url: 'http://localhost:50171/Home/deptClick1',
                dataType:'json',
                data:textOb,
                type:'POST',
                success: function (data)
                {
                    window.location.href = '/Home/deptClick';
                },
                error: function (msg)
                {
                    window.location.href = '/Home/deptClick';
                }
            });

        }
        function search()//implement the search
        {
            var searchText = new Object();
            searchText.txtSearch = document.getElementById("txtSearch").value;
            $.ajax({
                data: searchText,
                dataType: 'json',
                url: '/Home/search1',

                type: 'POST',
                success: function (msg) {
                    window.location.href = '/Home/searchPage';
                },

                error: function (msg) {

                    window.location.href = '/Home/searchPage';
                }
            });
        }
        var totalPrice = 0;
    //to maintain the sideCart

        function sideCart(username1) {

            
            var CartSideOb = new Object();
            CartSideOb.mac = mac;
            CartSideOb.username = username1.toString();
            var cartDetails = "";
            var i;
            $.ajax({
                url: '/api/sideCart',
                dataType: 'json',
                type: 'POST',
                data: CartSideOb,
                success: function (data) {
                    cartCount = 0;
                    totalPrice = 0;
                    for (i = 0; i < data.length; i++) {
                        cartCount = cartCount + parseInt(data[i].quantity);
                        totalPrice += parseInt(data[i].price) * parseInt(data[i].quantity);

                        cartDetails += "<li><div><img style='  width: 70px;' src='" + data[i].path + "'></div><div style='  margin-top: -66px; margin-left: 74px;'>" + data[i].name + "<span class=''><br><div style='  margin-top: 4px;'><img src='/Images/minus.png' style='height:12px' onclick=decQty(" + data[i].id + ") />  " + data[i].quantity + "  <img src='/Images/plus.png' onclick=incQty(" + data[i].id + ") style='height:12px'/></div><div class='cd-price'>₹ " + data[i].price + "</span></div></div><a href='#0' class='cd-item-remove cd-img-replace' onclick='del("+data[i].id+")'><img style='width:13px' src='/Images/Awicons-Vista-Artistic-Delete.ico'></a></li>"
                    }
                    document.getElementById("sideCart").innerHTML = cartDetails;
                    document.getElementById("total").innerHTML = "₹ " + totalPrice + ".00";
                    document.getElementById("itemCount").innerHTML = cartCount;
                    document.getElementById("totDue").innerHTML = totalPrice + ".00";


                },
                error: function (msg) {
                    alert(msg.responseText);
                }
            })

        }
        function del(id) {

            var cartOb = new Object();
            cartOb.mac = document.getElementById("mac").value;
            cartOb.username = document.getElementById("username").innerHTML;

            cartOb.productId = id;
            $.ajax({
                url: '/api/deleteProd',
                data: cartOb,
                dataType: 'JSON',
                type: 'POST',
                success: function (data) {
                    cartMaintain();
                    onLoad(document.getElementById("username").innerHTML);
                },
                error: function (msg) {
                    alert(msg.responseText);
                }
            });
        }
        function decQty(id) 
        {
            var quantity = 1;
            var cartOb = new Object();
            cartOb.mac = document.getElementById("mac").value;
            cartOb.productId = id;
            $.ajax({
                url: '/api/cartQuantity',
                data: cartOb,
                dataType: 'JSON',
                type: 'POST',
                success: function (data) {

                    quantity = parseInt(data);
                    var a = quantity;
                    dec(a, id);
                },
                error: function (msg) {
                    alert(msg.responseText);
                }


            })


        }
        function dec(quantity, id) {
            var cartOb = new Object();
            cartOb.mac = document.getElementById("mac").value;
            cartOb.productId = id;
            cartOb.username = document.getElementById("username").innerHTML;

            if (quantity >= 2) {

                cartOb.prodQty = quantity;
                $.ajax({
                    url: '/api/decQty',
                    data: cartOb,
                    dataType: 'JSON',
                    type: 'POST',
                    success: function (data) {
                        
                        sideCart(document.getElementById("username").innerHTML);
                        },
                    error: function (msg) {
                        alert(msg.responseText);
                    }
                })
            }
        }
        function incQty(id) {
            var cartOb = new Object();
            cartOb.mac = document.getElementById("mac").value;
            cartOb.productId = id;
            cartOb.username = document.getElementById("username").innerHTML;
            $.ajax({
                url: '/api/incQty',
                data: cartOb,
                dataType: 'JSON',
                type: 'POST',
                success: function (data) {
                    
                    sideCart(document.getElementById("username").innerHTML);
                },
                error: function (msg) {
                    alert(msg.responseText);
                }
            })
        }
        function banner()
        {
            $.ajax({
                url: '/api/banner',
                type: 'POST',
                dataType: 'json',
                success: function (data)
                {
                    for (i = 0; i < data.length; i++)
                    {
                        if (i == 0) {
                            if (data[i].type == 'product') {
                                document.getElementById("mover").innerHTML += "<div id='slide-1' class='slide'><div class='slider-img'><a onClick='prodDescription(" + data[i].typeId + ")'><img style='height:390' src='" + data[i].imagePath + "' alt='learn more' /></a></div><div class='slider-text'><h1>" + data[i].header1 + "<br><span>" + data[i].header2 + "</span></h1><h2>" + data[i].header3 + "</h2><div class='features_list'><h4>" + data[i].description + "</h4></div><a href='#' style='color:white' class='button' onClick='prodDescription(" + data[i].typeId + ")'>Shop Now</a></div><div class='clear'></div></div>	";
                            }
                            else
                            {
                                document.getElementById("mover").innerHTML += "<div id='slide-1' class='slide'><div class='slider-img'><a onClick='groupClick(" + data[i].typeId + ")'><img style='height:390' src='" + data[i].imagePath + "' alt='learn more' /></a></div><div class='slider-text'><h1>" + data[i].header1 + "<br><span>" + data[i].header2 + "</span></h1><h2>" + data[i].header3 + "</h2><div class='features_list'><h4>" + data[i].description + "</h4></div><a href='#' style='color:white' class='button' onClick='groupClick(" + data[i].typeId + ")'>Shop Now</a></div><div class='clear'></div></div>	";
                            }
                        }
                        else {

                            if (data[i].type == 'product') {
                                document.getElementById("mover").innerHTML += "<div class=\"slide\" ><div class='slider-img'><a onClick='prodDescription(" + data[i].typeId + ")'><img style='height:390' src='" + data[i].imagePath + "' alt='learn more' /></a></div><div class='slider-text'><h1>" + data[i].header1 + "<br><span>" + data[i].header2 + "</span></h1><h2>" + data[i].header3 + "</h2><div class='features_list'><h4>" + data[i].description + "</h4></div><a href='#' style='color:white' class='button' onClick='prodDescription(" + data[i].typeId + ")'>Shop Now</a></div><div class='clear'></div></div>	";
                            }
                            else {
                                document.getElementById("mover").innerHTML += "<div class=\"slide\"><div class='slider-img'><a onClick='groupClick(" + data[i].typeId + ")'><img style='height:390' src='" + data[i].imagePath + "' alt='learn more' /></a></div><div class='slider-text'><h1>" + data[i].header1 + "<br><span>" + data[i].header2 + "</span></h1><h2>" + data[i].header3 + "</h2><div class='features_list'><h4>" + data[i].description + "</h4></div><a href='#' style='color:white' class='button' onClick='groupClick(" + data[i].typeId + ")'>Shop Now</a></div><div class='clear'></div></div>	";
                            }
                        }
                    }
                },
                error: function (msg)
                { alert(msg.responseText); }
            })
            
        }
        function signUp()//name email pass
        {
            
            var username = document.getElementById("name").value;
            var email = document.getElementById("email").value;
            var pass = document.getElementById("pass").value;
            var mac = document.getElementById("mac").value;
            var userOb = new Object();
            userOb.username = username;
            userOb.email_phone = email;
            userOb.password = pass;
            userOb.mac_address = mac;
            $.ajax({
                url: '/api/userLogin',
                data: userOb,
                dataType: 'JSON',
                type: 'POST',
                success: function (data)
                {
                    if (data == 1) {
                        alert("Registered Successfully. Welcome to Lovely Wannabuy!!")
                    }
                    else {
                        alert("Please check details again")
                    }
                },
                error: function (msg)
                { alert(msg.responseText)}
            })
        }
        function signIn()
        {
            
            var username = document.getElementById("nameLogin").value;
            var mac_address = document.getElementById("mac").value;
            var password = document.getElementById("passLogin").value;
            var userOb = new Object();
            userOb.username = username;
            userOb.password = password;
            userOb.mac_address = mac_address;
            $.ajax({
                url: '/api/UserSignIn',
                data: userOb,
                dataType: 'JSON',
                type: 'POST',
                success: function (data) {
                    if (data > 0)
                    {
                        getUsername();
                        alert("Successful Login. Welcome to Lovely Wannabuy");
                    }
                    else {
                        alert("Invalid Username/Password")
                    }
                },
                error: function (msg)
                { alert(msg.responseText) }
            })
        }
        function getUsername()
        {
            var userOb = new Object();
            userOb.mac_address=document.getElementById("mac").value;
            var username1;
            $.ajax({
                url:'/api/getUsername',
                dataType:'JSON',
                data: userOb,
                type:'POST',
                success: function(data)
                {
                    
                    if(data.length==0)
                    {
                        document.getElementById("username").innerHTML = "Guest User";
                        username1 = "Guest User";
                        sideCart(username1);
                    }
                    else
                    {
                        document.getElementById("username").innerHTML=data;
                        username1 = data;
                        sideCart(username1);
                        
                    }
                }
            })
        }
        function logOut()
        {
            var userOb = new Object();
            userOb.mac_address = document.getElementById("mac").value;
            userOb.username = document.getElementById("username").innerHTML;
            $.ajax({
                url: '/api/signOut',
                data: userOb,
                dataType: 'JSON',
                type: 'POST',
                success: function (data)
                {
                    alert("Log Out Successful!!")
                    window.location.href = '/Home';
                },
                error: function (msg)
                {
                    alert(msg.responseText);
                }
            });
        }
</script>

</head>
<body onload="loaddata();">
    @Html.Hidden("mac", ViewData["macAdd"])
    @Html.Hidden("cartProds",ViewData["cartProds"])
    @Html.Hidden("amtDue", ViewData["amtDue"])
    
  <div class="wrap">
	<div class="header">
		<div class="headertop_desc">
			<div class="call">
				 <p><span>If you are a vendor, <span class="number">@Html.ActionLink("click here!","vendor","Home")</span></p>
			</div>
			<div class="account_desc">
                <div style="  margin-left: -179px;
  margin-top: 0px;
  position: absolute;
  font-size: small; text-align: right;
  "><p>Welcome, <span id="username"></span> !</p></div>
				<ul>
                    
					<li><a href="#modal" id="modal_trigger" class="abc" style="padding-bottom:20px">Register/Login</a></li>
					</ul>
                <div id="modal" class="popupContainer" style="display:none; width:500px;">
		<header class="popupHeader">
			<span class="header_title">Login</span>
			<span class="modal_close">X</span>		</header>
		
		<section class="popupBody">
			<!-- Social Login -->
			<div class="social_login">
				

				<div class="centeredText">
					<span>Or use your Email address</span>				</div>

				<div class="action_btns">
					<div class="one_half"><a href="#" id="login_form" class="btn">Login</a></div>
					<div class="one_half last"><a href="#" id="register_form" class="btn">Sign up</a></div>
				</div>
			</div>

			<!-- Username & Password Login form -->
			<div class="user_login">
				<form>
					<label>Email / Username</label>
					<input type="text" id="nameLogin"/>
					<br />

					<label>Password</label>
					<input type="password" id="passLogin"/>
					<br />

					<div class="checkbox">
						<input id="remember" type="checkbox" />
						<label for="remember">Remember me on this computer</label>
					</div>

					<div class="action_btns">
						<div class="one_half"><a href="#" class="btn back_btn">&lt;&lt; Back</a></div>
						<div class="one_half last"><a href="#" onclick="signIn()" class="btn btn_red">Login</a></div>
					</div>
				</form>

				<a href="#" class="forgot_password">Forgot password?</a>			</div>

			<!-- Register Form -->
			<div class="user_register">
      
				<form>
					<label>Name</label>
					<input type="text" id="name" placeholder="Enter your name"/>
                    <br>
					
                  
					<label>Email Address/Phone Number</label>
					<input type="email" id="email" placeholder="Enter email or mobile no." />
					<br>

                    <label>Enter a password</label>
					<input type="password" id="pass" placeholder="Enter password" />
					<br>

					<div class="action_btns">
						<div class="one_half"><a href="#" class="btn back_btn">&lt;&lt; Back</a></div>
						<div class="one_half last"><a href="#" onclick="signUp()" class="btn btn_red">Register</a></div>
					</div>
				</form>
			</div>
		</section>
	</div>


<script type="text/javascript">
    $("#modal_trigger").leanModal({ top: 120, overlay: 0.6, closeButton: ".modal_close" });

    $(function () {
        // Calling Login Form
        $("#login_form").click(function () {
            $(".social_login").hide();
            $(".user_login").show();
            return false;
        });

        // Calling Register Form
        $("#register_form").click(function () {
            $(".social_login").hide();
            $(".user_register").show();
            $(".header_title").text('Register');
            return false;
        });

        // Going back to Social Forms
        $(".back_btn").click(function () {
            $(".user_login").hide();
            $(".user_register").hide();
            $(".social_login").show();
            $(".header_title").text('Login');
            return false;
        });

    })
</script>

                <ul style="margin-left:-86px">
					<li style="  margin-left: -139px;"><a href="#">Delivery</a></li>
					<li><a style="  margin-left: -20px;"> @Html.ActionLink("Checkout", "checkout", "Home")</a></li>
					<li><a>@Html.ActionLink("My Account", "profile", "Home")</a></li>
                    <li><a onclick="logOut()">Logout</a></li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
		<div class="header_top">
			<div class="logo">
				<img src="~/Images/LandingPage/logo.png" alt="" />
			</div>
			  <div class="cart">
			  	   <p> <span></span>
                         <div id="cd-cart-trigger" style="margin-top:10px;">
             
             
			 
         <img src="~/Images/Cart.png" style="margin-top: -92px;
  margin-left: 133px;
  margin-right: -10px;
  width: 20%;
  position: relative;
  right: -70px;"/>
                 <script type="text/javascript">
                     function DropDown(el) {
                         this.dd = el;
                         this.initEvents();
                     }
                     DropDown.prototype = {
                         initEvents: function () {
                             var obj = this;

                             obj.dd.on('click', function (event) {
                                 $(this).toggleClass('active');
                                 event.stopPropagation();
                             });
                         }
                     }

                     $(function () {

                         var dd = new DropDown($('#dd'));

                         $(document).click(function () {
                             // all dropdowns
                             $('.wrapper-dropdown-2').removeClass('active');
                         });

                     });

		</script>
	 <div class="clear"></div>

                            
                </div>
                         <div id="dd" class="wrapper-dropdown-2" style="  margin-left: 126px;"> 
                             <p id="itemCount"> 0 </p> item(s) -  ₹<p id="totDue">0.00</p>
			  	   	<ul class="dropdown">
							<li>you have no items in your Shopping cart</li>
					</ul></div></p>
			  </div>
			 
	 <div class="clear"></div>
  </div>
	<div class="header_bottom">
	     	<div class="menu">
	     		<ul>
			    	<li class="active">@Html.ActionLink("Home", "index", "Home")</li>
			    	<li>@Html.ActionLink("About Us", "aboutUs", "Home")</li>
			    	<li><a href="#">Delivery</a></li>
			    	<li><a href="#">News</a></li>
			    	<li >@Html.ActionLink("Contact Us", "contactUs", "Home")</li>
			    	<div class="clear"></div>
     			</ul>
	     	</div>
	     	<div class="search_box">
	     		<form>
	     			<input type="text" autocomplete="off" id="txtSearch" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}"><input type="submit" onclick="search();" value="">
	     		</form>
	     	</div>
	     	<div class="clear"></div>
	     </div>	     
	<div class="header_slide">
			<div class="header_bottom_left" style="height:440px; overflow-y:scroll">				
				<div class="categories" >
				  <ul id="category">
				  	
				  </ul>
				</div>					
	  	     </div>
					 <div style='margin-left:10px' class="header_bottom_right">					 
					 	 <div class="slider" style="height: 439px;">					     
							 <div id="slider">
			                    <div id="mover">
                                   </div> 		
		                </div>
					 <div class="clear"></div>					       
		         </div>
		      </div>
		   <div class="clear"></div>
		</div>
   </div>
 <div class="main">
    <div class="content">
        <!--Latest Products---------------------------------------------------------->
    	<div class="content_top">
    		<div class="heading">
    		<h3>New Products</h3>
    		</div>
    		<div class="see">
    			<p>@Html.ActionLink("See All Latest Products", "latestProducts", "Home")</p>
    		</div>
    		<div class="clear"></div>
    	</div>
	      
        <section class="section" id="latestProds" >
                        
        </section>
        <!--Latest Products---------------------------------------------------------->

        <!--groups---------------------------------------------------------->
        <div class="content_top">
    		<div class="heading">
    		<h3>Groups</h3>
    		</div>
    		<div class="see">
    			<p>@Html.ActionLink("See All Groups", "groups", "Home")</p>
    		</div>
    		<div class="clear"></div>
    	</div>
	      
        <section class="section" id="groups" >
                        
        </section>
        <!--groups---------------------------------------------------------->
                <!--top selling---------------------------------------------------------->
        <div class="content_top">
    		<div class="heading">
    		<h3>Top Selling Products</h3>
    		</div>
    		<div class="see">
    			<p>@Html.ActionLink("See All Top Selling Products", "topSelling", "Home")</p>
    		</div>
    		<div class="clear"></div>
    	</div>
	      
        <section class="section" id="top_selling" >
                        
        </section>
        <!--top selling---------------------------------------------------------->
 <div class="content_top">
    		<div class="heading">
    		<h3>Featured Products</h3>
    		</div>
    		<div class="see">
    			<p>@Html.ActionLink("See All Featured Products", "featuredProducts", "Home")</p>
    		</div>
    		<div class="clear"></div>
    	</div>
	      
        <section class="section" id="featured" >
                        
        </section>
    </div>			
 </div>
</div>
   <div class="footer">
   	  <div class="wrap">	
	     <div class="section group">
				<div class="col_1_of_4 span_1_of_4">
						<h4>Information</h4>
						<ul>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Customer Service</a></li>
						<li><a href="#">Advanced Search</a></li>
						<li><a href="#">Orders and Returns</a></li>
						<li><a href="#">Contact Us</a></li>
						</ul>
					</div>
				<div class="col_1_of_4 span_1_of_4">
					<h4>Why buy from us</h4>
						<ul>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Customer Service</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Site Map</a></li>
						<li><a href="#">Search Terms</a></li>
						</ul>
				</div>
				<div class="col_1_of_4 span_1_of_4">
					<h4>My account</h4>
						<ul>
							<li><a href="#">Sign In</a></li>
							<li><a href="index.html">View Cart</a></li>
							<li><a href="#">My Wishlist</a></li>
							<li><a href="#">Track My Order</a></li>
							<li><a href="#">Help</a></li>
						</ul>
				</div>
				<div class="col_1_of_4 span_1_of_4">
					<h4>Contact</h4>
						<ul>
							<li><span>+91-123-456789</span></li>
							<li><span>+00-123-000000</span></li>
						</ul>
						<div class="social-icons">
							<h4>Follow Us</h4>
					   		  <ul>
							      <li><a href="https://www.facebook.com/pages/Lovely-Wannabuy/1658585207702542" target="_blank"><img src="~/Images/LandingPage/facebook.png" alt="" /></a></li>
							      <li><a href="https://twitter.com/search?f=realtime&q=lovely%20wannabuy&src=typd" target="_blank"><img src="~/Images/LandingPage/twitter.png" alt="" /></a></li>
							      <li><a href="#" target="_blank"><img src="~/Images/LandingPage/skype.png" alt="" /> </a></li>
							      <li><a href="#" target="_blank"> <img src="~/Images/LandingPage/linkedin.png" alt="" /></a></li>
							      <div class="clear"></div>
						     </ul>
   	 					</div>
				</div>
			</div>			
        </div>
        <div class="copy_right">
				<p>Lovely Wana Buy © All rights Reseverd </p>
		   </div>
    </div>
       
    <a href="#" id="toTop"><span id="toTopHover"> </span></a>
    
    
    
    <div id="cd-shadow-layer"></div>

	<div id="cd-cart">
		<h2>Cart</h2>
		<ul class="cd-cart-items" id="sideCart">
			
		</ul> <!-- cd-cart-items -->

		<div class="cd-cart-total">
			<p>Total <span id="total"></span></p>
		</div> <!-- cd-cart-total -->

		@Html.ActionLink("Checkout", "checkout", "Home", null, new { @class="checkout-btn"})
		
		<p class="cd-go-to-cart"><a href="#0">Go to cart page</a></p>
	</div> <!-- cd-cart -->
    
	<!-- end:copyright -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="jquerys.js"></script>
    <script src="bootstrap-3.3.2-dist/bootstrap-3.3.2-dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
    <script src="gmap3.js"></script>
    <script src="script.js"></script>
<script></script> <!-- Gem jQuery -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-48014931-1', 'codyhouse.co');
    ga('send', 'pageview');

    jQuery(document).ready(function ($) {
        $('.close-carbon-adv').on('click', function () {
            $('#carbonads-container').hide();
        });
    });
</script>

    
    
</body>
</html>

